<a href="https://colab.research.google.com/github/renancarneiro/Projects/blob/main/primeiros_comandos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PERGUNTAS DO CEO
1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala
de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar,
quantas tem mais de 2 banheiros?

In [8]:
#carregue o conjunto de dados chamado kc_house_data.csv do hd para a memoria
import pandas as pd
data = pd.read_csv('/content/datasets/kc_house_data.csv')

#5 primeiras linhas do conjunto de dados
data.head()

#numero de linhas e colunas
#print(data.shape)

#nome das colunas do conjunto de dados
#print(data.columns)

#mostre o conjunto de dados ordenados pela coluna price
#print(data[['id','price']].sort_values('price'))

#mostre na tela o conjunto de dados ordenados pela coluna price do maior para o menor
#print(data[['id','price']].sort_values('price', ascending=False))

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# 1. Quantas casas estão disponíveis para compra?

In [9]:
#estrategia 
#Selecionar coluna id
#Conta numero de valores unicos
houses = len(data['id'].unique())
print(f"O numero de casas disponíveis é: {houses}")

O numero de casas disponíveis é: 21436

# 2. Quantos atributos as casas possuem?

In [10]:
#Assumptions
#A coluna id e date não são atributos das casas
atributos = len(data.drop(['id','date'],axis=1).columns)
print(f"O número de atributos é: {atributos}")

O número de atributos é: 19



# 3. Quais são os atributos das casas?

In [11]:
data.drop(['id', 'date',], axis=1).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')



# 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [12]:
data[['id','price']].sort_values('price', ascending=False).head()

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0
9254  9208900037  6885000.0
4411  2470100110  5570000.0
1448  8907500070  5350000.0

In [13]:
id_cara = data[['id','price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']
print(f"A casa mais cara é a do ID: {id_cara}")

A casa mais cara é a do ID: 6762700020



# 5. Qual a casa com o maior número de quartos?

In [14]:
data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).head()

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10

In [15]:
id_quartos = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0,'id']
print(f"A casa com o maior nº de quartos é: ID {id_quartos}")

A casa com o maior nº de quartos é: ID 2402100895


# 6. Qual a soma total de quartos do conjunto de dados?

In [16]:
data['bedrooms'].sum()

72854


# 7. Quantas casas possuem 2 banheiros?

In [17]:
#Selecionar colunas id e bathrooms
#Filtrar somente os "id" cujo valor da coluna "bathrooms" vale 2
#Contar o numero de valores da coluna "id"
n_banheiros = len(data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']])
print(f"{n_banheiros} casas possuem 2 banheiros")

1930 casas possuem 2 banheiros

# 8. Qual o preço médio de todas as casas no conjunto de dados?

In [29]:
import numpy as np
preco_medio_casas = np.round(data['price'].mean(),2)
print(f"Preço médio de todas as casas é: {preco_medio_casas}")

Preço médio de todas as casas é: 540088.14

# 9. Qual o preço médio de casas com 2 banheiros?

In [30]:
preco_medio_2_banheiros = np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(),2)
print(f"Preço médio de casas com 2 banheiros é: {preco_medio_2_banheiros}")

Preço médio de casas com 2 banheiros é: 457889.72

# 10. Qual o preço mínimo entre as casas com 3 quartos?

In [37]:
preco_min = data.loc[data['bedrooms'] == 3 , 'price'].min()
print(f"O preço minimo entre as casas com 3 quartos é: {preco_min}")

O preço minimo entre as casas com 3 quartos é: 82000.0

In [36]:
data.loc[data['bedrooms'] == 3 , ['id', 'price']].sort_values('price', ascending=True)

               id      price
8274   3883800011    82000.0
13756  1788900230    86500.0
5866   9320900420    89000.0
18939  4239400300    90000.0
5723   1788800630    96500.0
...           ...        ...
11535  8964800890  3200000.0
18199  3625059152  3300000.0
7989   9362000040  3400000.0
2864   4114601570  3600000.0
19017  2303900100  3800000.0

[9824 rows x 2 columns]

# 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [42]:
data['m2'] = data['sqft_living'] * 0.093
len(data.loc[data['m2'] > 300, ['id', 'sqft_living']])

2258

# 12. Quantas casas tem mais de 2 andares?

In [46]:
len(data.loc[data['floors'] > 2, ['id', 'floors']])

782

# 13. Quantas casas tem vista para o mar?

In [54]:
len(data.loc[data['waterfront'] == 1])

163

# 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [64]:
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3)])

64

# 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [66]:
len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2)])

2201